Flask
waitress
Flask-SQLAlchemy
Flask-Login
pandas
python-dotenv
google-generativeai
sqlalchemy
flask_sqlalchemy
openpyxl
matplotlib
numpy
xlsxwriter
tqdm
PyMuPDF
werkzeug
pypandoc
frontend
tools
pytesseract
Pillow
gymnasium
stable-baselines3
python-dateutil
tf-keras
python-docx
pix2tex
olefile
pypdf
