Flask
Flask-SQLAlchemy
Flask-Login
pandas
python-dotenv
google-generativeai
sqlalchemy
flask_sqlalchemy
openpyxl
matplotlib
numpy
xlsxwriter
tqdm
PyMuPDF
werkzeug
pypandoc
frontend
tools
pytesseract
Pillow
chromadb
sentence-transformers
gymnasium
stable-baselines3